[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Password Tool
Comment=A Tool For Managing Passwords
Exec=password_tool
Icon=Password-Tool.png
Terminal=false